In [2]:
pip install pandas numpy duckdb

Requirement already satisfied: pandas in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: duckdb in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amand\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\amand\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
import duckdb

Parte I do Projeto  - Investiga√ß√£o
Aqui eu vou fazer uma an√°lise breve do meu arquivo

In [4]:
# Lendo o arquivo CSV
df = pd.read_csv('arquivo_usados/supermarket_sales.csv')

In [5]:
# Estrutura dos dados
print("\nüìä Tipos de dados por coluna:")
dtypes_df = pd.DataFrame({
    'Coluna': df.dtypes.index,
    'Tipo': df.dtypes.values,
    'Valores √önicos': [df[col].nunique() for col in df.columns],
    'Exemplo': [df[col].iloc[0] for col in df.columns]
})
print(dtypes_df.to_string(index=False))

üìä Tipos de dados por coluna:
                 Coluna    Tipo  Valores √önicos           Exemplo
             Invoice ID  object            1000       750-67-8428
                 Branch  object               3                 A
                   City  object               3            Yangon
          Customer type  object               2            Member
                 Gender  object               2            Female
           Product line  object               6 Health and beauty
             Unit price float64             943             74.69
               Quantity   int64              10                 7
                 Tax 5% float64             990           26.1415
                  Total float64             990          548.9715
                   Date  object              89          1/5/2019
                   Time  object             506             13:08
                Payment  object               3           Ewallet
                   cogs float64             990            522.83
gross margin percentage float64               1          4.761905
           gross income float64             990           26.1415
                 Rating float64              61               9.1

In [6]:
# Primeiras linhas
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
# Estat√≠sticas descritivas para colunas num√©ricas

numeric_cols = df.select_dtypes(include=[np.number]).columns

for col in numeric_cols:
    print(f"\nüìà An√°lise de '{col}':")
    print(f"   ‚Ä¢ M√≠nimo: {df[col].min():.2f}")
    print(f"   ‚Ä¢ M√°ximo: {df[col].max():.2f}")
    print(f"   ‚Ä¢ M√©dia: {df[col].mean():.2f}")
    print(f"   ‚Ä¢ Mediana: {df[col].median():.2f}")
    print(f"   ‚Ä¢ Desvio Padr√£o: {df[col].std():.2f}")
    print(f"   ‚Ä¢ Q1 (25%): {df[col].quantile(0.25):.2f}")
    print(f"   ‚Ä¢ Q3 (75%): {df[col].quantile(0.75):.2f}")
    print(f"   ‚Ä¢ IQR: {df[col].quantile(0.75) - df[col].quantile(0.25):.2f}")

üìà An√°lise de 'Unit price':
   ‚Ä¢ M√≠nimo: 10.08
   ‚Ä¢ M√°ximo: 99.96
   ‚Ä¢ M√©dia: 55.67
   ‚Ä¢ Mediana: 55.23
   ‚Ä¢ Desvio Padr√£o: 26.49
   ‚Ä¢ Q1 (25%): 32.88
   ‚Ä¢ Q3 (75%): 77.94
   ‚Ä¢ IQR: 45.06

üìà An√°lise de 'Quantity':
   ‚Ä¢ M√≠nimo: 1.00
   ‚Ä¢ M√°ximo: 10.00
   ‚Ä¢ M√©dia: 5.51
   ‚Ä¢ Mediana: 5.00
   ‚Ä¢ Desvio Padr√£o: 2.92
   ‚Ä¢ Q1 (25%): 3.00
   ‚Ä¢ Q3 (75%): 8.00
   ‚Ä¢ IQR: 5.00

üìà An√°lise de 'Tax 5%':
   ‚Ä¢ M√≠nimo: 0.51
   ‚Ä¢ M√°ximo: 49.65
   ‚Ä¢ M√©dia: 15.38
   ‚Ä¢ Mediana: 12.09
   ‚Ä¢ Desvio Padr√£o: 11.71
   ‚Ä¢ Q1 (25%): 5.92
   ‚Ä¢ Q3 (75%): 22.45
   ‚Ä¢ IQR: 16.52

üìà An√°lise de 'Total':
   ‚Ä¢ M√≠nimo: 10.68
   ‚Ä¢ M√°ximo: 1042.65
   ‚Ä¢ M√©dia: 322.97
   ‚Ä¢ Mediana: 253.85
   ‚Ä¢ Desvio Padr√£o: 245.89
   ‚Ä¢ Q1 (25%): 124.42
   ‚Ä¢ Q3 (75%): 471.35
   ‚Ä¢ IQR: 346.93

üìà An√°lise de 'cogs':
   ‚Ä¢ M√≠nimo: 10.17
   ‚Ä¢ M√°ximo: 993.00
   ‚Ä¢ M√©dia: 307.59
   ‚Ä¢ Mediana: 241.76
   ‚Ä¢ Desvio Padr√£o: 234.18
   ‚Ä¢ Q1 (25%): 118.50
   ‚Ä¢ Q3 (75%): 448.91
   ‚Ä¢ IQR: 330.41

üìà An√°lise de 'gross margin percentage':
   ‚Ä¢ M√≠nimo: 4.76
   ‚Ä¢ M√°ximo: 4.76
   ‚Ä¢ M√©dia: 4.76
   ‚Ä¢ Mediana: 4.76
   ‚Ä¢ Desvio Padr√£o: 0.00
   ‚Ä¢ Q1 (25%): 4.76
   ‚Ä¢ Q3 (75%): 4.76
   ‚Ä¢ IQR: 0.00

üìà An√°lise de 'gross income':
   ‚Ä¢ M√≠nimo: 0.51
   ‚Ä¢ M√°ximo: 49.65
   ‚Ä¢ M√©dia: 15.38
   ‚Ä¢ Mediana: 12.09
   ‚Ä¢ Desvio Padr√£o: 11.71
   ‚Ä¢ Q1 (25%): 5.92
   ‚Ä¢ Q3 (75%): 22.45
   ‚Ä¢ IQR: 16.52

üìà An√°lise de 'Rating':
   ‚Ä¢ M√≠nimo: 4.00
   ‚Ä¢ M√°ximo: 10.00
   ‚Ä¢ M√©dia: 6.97
   ‚Ä¢ Mediana: 7.00
   ‚Ä¢ Desvio Padr√£o: 1.72
   ‚Ä¢ Q1 (25%): 5.50
   ‚Ä¢ Q3 (75%): 8.50
   ‚Ä¢ IQR: 3.00

In [8]:
# Estat√≠sticas descritivas para colunas categ√≥ricas
df.describe(include=['object'])

,Invoice ID,Branch,City,Customer type,Gender,Product line,Date,Time,Payment
count,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,3,3,2,2,6,89,506,3
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,2/7/2019,19:48,Ewallet
freq,1,340,340,501,501,178,20,7,345

In [9]:
# Aqui eu verifico valores ausentes

missing = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Coluna': missing.index,
    'Valores Ausentes': missing.values,
    'Percentual (%)': missing_pct.values
})

print("\nüîç Valores ausentes por coluna:")
print(missing_df)

if missing.sum() == 0:
    print("\n‚úÖ Excelente! Nenhum valor ausente encontrado.")
else:
    print(f"\n‚ö†Ô∏è  Total de valores ausentes: {missing.sum()}")

üîç Valores ausentes por coluna:
                     Coluna  Valores Ausentes  Percentual (%)
0                Invoice ID                 0             0.0
1                    Branch                 0             0.0
2                      City                 0             0.0
3             Customer type                 0             0.0
4                    Gender                 0             0.0
5              Product line                 0             0.0
6                Unit price                 0             0.0
7                  Quantity                 0             0.0
8                    Tax 5%                 0             0.0
9                     Total                 0             0.0
10                     Date                 0             0.0
11                     Time                 0             0.0
12                  Payment                 0             0.0
13                     cogs                 0             0.0
14  gross margin percentage                 0             0.0
15             gross income                 0             0.0
16                   Rating                 0             0.0

‚úÖ Excelente! Nenhum valor ausente encontrado.

In [10]:
# Aqui eu verifico duplicatas

duplicates = df.duplicated().sum()
print(f"\nüîç Total de linhas duplicadas: {duplicates}")

if duplicates > 0:
    print(f"‚ö†Ô∏è  {duplicates} duplicatas encontradas ({(duplicates/len(df)*100):.2f}%)")
    print("\nExemplo de duplicatas:")
    print(df[df.duplicated(keep=False)].head())
else:
    print("‚úÖ Nenhuma duplicata encontrada.")

üîç Total de linhas duplicadas: 0
‚úÖ Nenhuma duplicata encontrada.