In [ ]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: duckdb in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amand\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\amand\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

Parte II do Projeto  - Transformação 
Aqui eu vou mudar os nomes das colunas para português e criar algumas colunas que vão ajudar na análise

In [ ]:
# Lendo o arquivo CSV
df = pd.read_csv('data/supermarket_sales.csv')

In [98]:
# Aqui eu vou criar um dicionário das colunas em inglês para o português
colunas_traducao = {
        'Invoice ID': 'id_fatura',
        'Branch': 'filial',
        'City': 'cidade',
        'Customer type': 'tipo_cliente',
        'Gender': 'genero',
        'Product line': 'linha_produto',
        'Unit price': 'preco_unitario',
        'Quantity': 'quantidade',
        'Tax 5%': 'imposto_5pct',
        'Total': 'total',
        'Date': 'data',
        'Time': 'hora',
        'Payment': 'forma_pagamento',
        'cogs': 'custo_produtos',
        'gross margin percentage': 'margem_bruta_pct',
        'gross income': 'lucro_bruto',
        'Rating': 'avaliacao'
    }
df.rename(columns=colunas_traducao, inplace=True)
print(f"{colunas_traducao}")

{'Invoice ID': 'id_fatura', 'Branch': 'filial', 'City': 'cidade', 'Customer type': 'tipo_cliente', 'Gender': 'genero', 'Product line': 'linha_produto', 'Unit price': 'preco_unitario', 'Quantity': 'quantidade', 'Tax 5%': 'imposto_5pct', 'Total': 'total', 'Date': 'data', 'Time': 'hora', 'Payment': 'forma_pagamento', 'cogs': 'custo_produtos', 'gross margin percentage': 'margem_bruta_pct', 'gross income': 'lucro_bruto', 'Rating': 'avaliacao'}

In [99]:
# Agora eu vou mudar o nome de alguns valores para português
 # Tipo de Cliente
df['tipo_cliente'] = df['tipo_cliente'].map({
        'Member': 'Membro',
        'Normal': 'Normal'
    })
    
    # Gênero
df['genero'] = df['genero'].map({
        'Male': 'Masculino',
        'Female': 'Feminino'
    })
    
    # Forma de Pagamento
df['forma_pagamento'] = df['forma_pagamento'].map({
        'Ewallet': 'Carteira Digital',
        'Cash': 'Dinheiro',
        'Credit card': 'Cartão de Crédito'
    })
    
    # Linha de Produto
linha_produto_traducao = {
        'Electronic accessories': 'Acessórios Eletrônicos',
        'Fashion accessories': 'Acessórios de Moda',
        'Food and beverages': 'Alimentos e Bebidas',
        'Health and beauty': 'Saúde e Beleza',
        'Home and lifestyle': 'Casa e Estilo de Vida',
        'Sports and travel': 'Esportes e Viagem'
    }
df['linha_produto'] = df['linha_produto'].map(linha_produto_traducao)

In [100]:
df.head(10)

,id_fatura,filial,cidade,tipo_cliente,genero,linha_produto,preco_unitario,quantidade,imposto_5pct,total,data,hora,forma_pagamento,custo_produtos,margem_bruta_pct,lucro_bruto,avaliacao
0,750-67-8428,A,Yangon,Membro,Feminino,Saúde e Beleza,74.69,7,26.1415,548.9715,1/5/2019,13:08,Carteira Digital,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Feminino,Acessórios Eletrônicos,15.28,5,3.8200,80.2200,3/8/2019,10:29,Dinheiro,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Casa e Estilo de Vida,46.33,7,16.2155,340.5255,3/3/2019,13:23,Cartão de Crédito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Membro,Masculino,Saúde e Beleza,58.22,8,23.2880,489.0480,1/27/2019,20:33,Carteira Digital,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Esportes e Viagem,86.31,7,30.2085,634.3785,2/8/2019,10:37,Carteira Digital,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Masculino,Acessórios Eletrônicos,85.39,7,29.8865,627.6165,3/25/2019,18:30,Carteira Digital,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Membro,Feminino,Acessórios Eletrônicos,68.84,6,20.6520,433.6920,2/25/2019,14:36,Carteira Digital,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Feminino,Casa e Estilo de Vida,73.56,10,36.7800,772.3800,2/24/2019,11:38,Carteira Digital,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Membro,Feminino,Saúde e Beleza,36.26,2,3.6260,76.1460,1/10/2019,17:15,Cartão de Crédito,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Membro,Feminino,Alimentos e Bebidas,54.84,3,8.2260,172.7460,2/20/2019,13:27,Cartão de Crédito,164.52,4.761905,8.2260,5.9

In [ ]:
# 1. Conversão inicial (Garante que o Pandas entenda Data e Hora)
df['data'] = pd.to_datetime(df['data'], format='mixed')
temp_time = pd.to_datetime(df['hora'], format='%H:%M')

# 2. Extrações de Data
df['ano'] = df['data'].dt.year
df['mes'] = df['data'].dt.month
df['dia'] = df['data'].dt.day
df['trimestre'] = df['data'].dt.quarter
df['semana_ano'] = df['data'].dt.isocalendar().week

# 3. Tratamento de Hora e Minuto (Posicionamento Lado a Lado)
idx_hora = df.columns.get_loc('hora')
if 'minuto' in df.columns:
df.drop(columns=['minuto'], inplace=True)
df.insert(idx_hora + 1, 'minuto', temp_time.dt.minute)
df['hora'] = temp_time.dt.hour # Agora 'hora' é um número (0-23)

# 4. Mapeamento de Nomes (Meses e Dias da Semana)
df['mes_nome'] = df['data'].dt.month_name().map({
    'January': 'Janeiro', 'February': 'Fevereiro', 'March': 'Março',
    'April': 'Abril', 'May': 'Maio', 'June': 'Junho',
    'July': 'Julho', 'August': 'Agosto', 'September': 'Setembro',
    'October': 'Outubro', 'November': 'Novembro', 'December': 'Dezembro'
})

df['dia_semana'] = df['data'].dt.day_name().map({
    'Monday': 'Segunda-feira', 'Tuesday': 'Terça-feira', 'Wednesday': 'Quarta-feira',
    'Thursday': 'Quinta-feira', 'Friday': 'Sexta-feira', 'Saturday': 'Sábado', 'Sunday': 'Domingo'
})

# 5. REGRAS DE NEGÓCIO (O que você pediu para incluir)

# Função para Período do Dia
def classificar_periodo(h):
    if 6 <= h < 12: return 'Manhã'
    elif 12 <= h < 18: return 'Tarde'
    elif 18 <= h < 22: return 'Noite'
    else: return 'Madrugada'

df['periodo_dia'] = df['hora'].apply(classificar_periodo)

# Dia Útil (Usando a data que ainda é datetime)
df['dia_util'] = (df['data'].dt.dayofweek.isin([5, 6])).map({True: 'Sim', False: 'Não'})

# Quinzena (Usando a coluna 'dia' que extraímos acima)
df['quinzena'] = np.where(df['dia'] <= 15, 'Primeira Quinzena', 'Segunda Quinzena')

# Fim de Semana (Binário)
df['eh_fim_semana'] = df['data'].dt.dayofweek.isin([5, 6]).astype(int)

# 6. Formatação Final para Exibição
# Somente agora transformamos a data em texto brasileiro
df['data_visual'] = df['data'].dt.strftime('%d/%m/%Y')

df.head(10)

,id_fatura,filial,cidade,tipo_cliente,genero,linha_produto,preco_unitario,quantidade,imposto_5pct,total,data,hora,minuto,forma_pagamento,custo_produtos,margem_bruta_pct,lucro_bruto,avaliacao,ano,mes,dia,trimestre,semana_ano,mes_nome,dia_semana,periodo_dia,dia_util,quinzena,eh_fim_semana,data_visual
0,750-67-8428,A,Yangon,Membro,Feminino,Saúde e Beleza,74.69,7,26.1415,548.9715,2019-01-05,13,8,Carteira Digital,522.83,4.761905,26.1415,9.1,2019,1,5,1,1,Janeiro,Sábado,Tarde,Não,Primeira Quinzena,1,05/01/2019
1,226-31-3081,C,Naypyitaw,Normal,Feminino,Acessórios Eletrônicos,15.28,5,3.8200,80.2200,2019-03-08,10,29,Dinheiro,76.40,4.761905,3.8200,9.6,2019,3,8,1,10,Março,Sexta-feira,Manhã,Sim,Primeira Quinzena,0,08/03/2019
2,631-41-3108,A,Yangon,Normal,Masculino,Casa e Estilo de Vida,46.33,7,16.2155,340.5255,2019-03-03,13,23,Cartão de Crédito,324.31,4.761905,16.2155,7.4,2019,3,3,1,9,Março,Domingo,Tarde,Não,Primeira Quinzena,1,03/03/2019
3,123-19-1176,A,Yangon,Membro,Masculino,Saúde e Beleza,58.22,8,23.2880,489.0480,2019-01-27,20,33,Carteira Digital,465.76,4.761905,23.2880,8.4,2019,1,27,1,4,Janeiro,Domingo,Noite,Não,Segunda Quinzena,1,27/01/2019
4,373-73-7910,A,Yangon,Normal,Masculino,Esportes e Viagem,86.31,7,30.2085,634.3785,2019-02-08,10,37,Carteira Digital,604.17,4.761905,30.2085,5.3,2019,2,8,1,6,Fevereiro,Sexta-feira,Manhã,Sim,Primeira Quinzena,0,08/02/2019
5,699-14-3026,C,Naypyitaw,Normal,Masculino,Acessórios Eletrônicos,85.39,7,29.8865,627.6165,2019-03-25,18,30,Carteira Digital,597.73,4.761905,29.8865,4.1,2019,3,25,1,13,Março,Segunda-feira,Noite,Sim,Segunda Quinzena,0,25/03/2019
6,355-53-5943,A,Yangon,Membro,Feminino,Acessórios Eletrônicos,68.84,6,20.6520,433.6920,2019-02-25,14,36,Carteira Digital,413.04,4.761905,20.6520,5.8,2019,2,25,1,9,Fevereiro,Segunda-feira,Tarde,Sim,Segunda Quinzena,0,25/02/2019
7,315-22-5665,C,Naypyitaw,Normal,Feminino,Casa e Estilo de Vida,73.56,10,36.7800,772.3800,2019-02-24,11,38,Carteira Digital,735.60,4.761905,36.7800,8.0,2019,2,24,1,8,Fevereiro,Domingo,Manhã,Não,Segunda Quinzena,1,24/02/2019
8,665-32-9167,A,Yangon,Membro,Feminino,Saúde e Beleza,36.26,2,3.6260,76.1460,2019-01-10,17,15,Cartão de Crédito,72.52,4.761905,3.6260,7.2,2019,1,10,1,2,Janeiro,Quinta-feira,Tarde,Sim,Primeira Quinzena,0,10/01/2019
9,692-92-5582,B,Mandalay,Membro,Feminino,Alimentos e Bebidas,54.84,3,8.2260,172.7460,2019-02-20,13,27,Cartão de Crédito,164.52,4.761905,8.2260,5.9,2019,2,20,1,8,Fevereiro,Quarta-feira,Tarde,Sim,Segunda Quinzena,0,20/02/2019

In [ ]:
# Agora vou finalizar o arquivo salvando o CSV tratado  
df.to_csv('data/supermarket_sales_tratado.csv', index=False)